@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 30px;
	text-align: center;
	height: 100vh;
	transition: transform 0.5s;
}

.nav-open main {
	transform: perspective(700px) scaleY(0.5) rotateY(30deg);
}

.nav-trigger {
	position: absolute;
	z-index: 4;
	top: 40px;
	left: 40px;
	height: 44px;
	width: 44px;
	overflow: hidden;
	color: transparent;
	cursor: pointer;
}

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
	position: absolute;
	height: 4px;
	width: 36px;
	background: #000;
}

.nav-trigger span {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-trigger span::before,
.nav-trigger span::after {
	content: '';
	top: 0;
	left: 0;
}

.nav-trigger span::before {
	transform: translateY(-12px);
}

.nav-trigger span::after {
	transform: translateY(12px);
}

.nav-open .nav-trigger span {
	background: transparent;
}

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
	background: #f3f3f3;
}

.nav-open .nav-trigger span::before {
	transform: rotate(-45deg);
}

.nav-open .nav-trigger span::after {
	transform: rotate(45deg);
}

.overlay {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1c1d21;
	opacity: 0;
	transition: opacity 0.5s, visibility 0.5s;
	visibility: hidden;
}

.nav-open .overlay {
	opacity: 0.6;
	visibility: visible;
}

.nav-container {
	position: fixed;
	z-index: 3;
	background: none;
	top: 0;
	right: 0;
	max-width: 420px;
	max-height: 80vh;
	padding: 1em 3.5em;
	transform: translateX(100%);
	transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
}

.nav-open .nav-container {
	transform: translateX(0);
}

.nav-container h2 {
	font-size: '30px';
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	margin: 1.5em 0;
}

.nav {
	list-style: none;
	padding: 0;
	text-align: center;
}

.nav a {
	display: block;
	padding: 0.4em 0;
	font-size: 40px;
	margin: 0.4em 0;
	font-weight: bold;
	font-family: 'Supermercado One', cursive;
	text-decoration: none;
	color: #f3f3f3;
	cursor: pointer;
}

.nav-open .nav a {
	animation: slide-in 0.5s 0.3s backwards;
}

.nav-open .nav li:nth-of-type(2) a {
	animation-delay: 0.6s;
}

.nav-open .nav li:nth-of-type(3) a {
	animation-delay: 0.9s;
}

.contact-section {
	color: #f3f3f3;
	text-align: center;

	h3 {
		display: flex;
		flex-direction: row-reverse;
	}

	i {
		margin-left: 20px;
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(80px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (min-width: 300px) and (max-width: 800px) {
	main {
		justify-content: space-evenly;
		padding: 30px;
	}
	.nav-open .nav-container {
		position: relative;
		margin: auto;
	}
	.nav-trigger {
		top: 20px;
		left: 15px;
	}

	.contact-section {
		h3 {
			justify-content: center;
		}
	}
	
}