@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('http://weloveiconfonts.com/api/?family=entypo');
@import url('https://fonts.googleapis.com/css?family=Rakkas&display=swap');

.abt-header {
	text-align: center;
	border: 1px solid black;
	width: 50%;
	margin: auto;
	margin-top: 2em;
	font-size: 40px;
}

.row {
	display: 'flex';
	width: 980px;
	height: 100%;
	margin: 0 auto;
}

.fullWidth {
	width: 100%;
	display: table;
	float: none;
	padding: 0;
	min-height: 1px;
	height: 100%;
}

.work-exp-list {
	margin: 60px 30px 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.work-exp-list > li .exp-content {
	margin-left: 20%;
	background: rgba(50, 68, 84, 1);
	color: #fff;
	padding: 12px;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	font-family: 'Open Sans';
	position: relative;
	border-radius: 5px;
	min-height: 150px;
}

.work-exp-list > li:nth-child(odd) .exp-content {
	background: #2b3a48;
}

.work-exp-list > li .exp-content h3 {
	margin-top: 0px;
	color: white;
	font-size: 20px;
	margin-bottom: 5px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.work-exp-list > li .exp-content h4 {
	opacity: 0.7;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 600;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	text-align: left;
}

.work-exp-list > li .exp-content h4 i {
	margin-right: 5px;
	vertical-align: middle;
}

.work-exp-list > li .exp-content:after {
	right: 100%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: rgba(50, 68, 84, 1);
	border-width: 10px;
	top: 30px;
}

.work-exp-list > li:nth-child(odd) .exp-content:after {
	border-right-color: #2b3a48;
}

.work-exp-list > li .exp-main-icon {
	width: 100px;
	height: 100px;
	top: 3%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #151515;
	background: #324454;
	border-radius: 50%;
	text-align: center;
	left: 8%;
	margin: 0 0 0 -25px;
}

.work-exp-list li {
	margin-bottom: 70px;
	position: relative;
}

.projectParagraph {
	font-size: 18px;
	margin: 0.5em 0 0;
	font-family: 'Source Sans Pro', serif;
}

.exp-main-icon img {
	width: 100%;
}

.faPra {
	display: flex;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	justify-content: center;
	padding: 18px 0;
    font-size: 56px;
	color: white;
}

.label {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	color: #ffffff;
	display: inline;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px 15px;
}

.date {
	color: #bfc3c7;
	display: block;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 15px;
	right: 20px;
}

.date i {
	margin-right: 8px;
	vertical-align: top;
	font-size: 18px;
	line-height: 20px;
}

@media (max-width: 780px) {
	.row {
		width: 100%;
		background: #3594cb;
	}
}

/* Profile css */
.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.grid-unit {
	position: relative;
	float: left;
	cursor: pointer;
	width: 50%;
	height: 50%;
	perspective: 800;
	overflow: hidden;
	background: url('https://files.123freevectors.com/wp-content/original/162959-red-and-yellow-grunge-watercolor-background-image.jpg');
}

.top-left {
	background-size: cover;
}

.top-right {
	border-left: 8px solid #000;
	background-size: cover;
	transition: all 0.3 ease-in;
	background-origin: content-box;


	&::before {
		content: " ";
		background: linear-gradient(#fbff0ad5 3%, #ffc60a 9%, transparent), url("../../assets/cool-tech.jpg") no-repeat center;
		opacity: 0;
		transition: opacity 0.4s ease-in;
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover::before {
		opacity: 1;
	}
}

.bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-size: cover;
	background-origin: content-box;
	border-top: 8px solid #000;
}

.swing-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 2.5em;
	color: #fff;
	font-family: 'Rakkas', cursive;
	transform-origin: left 50%;
	transform: rotateY(120deg);
	transition: transform 0.6s ease;
	letter-spacing: -0.05em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.top-left .swing-panel {
	transform-origin: left 50%;
	transform: rotateY(-100deg) scale(1.5);
}

.top-right .swing-panel {
	transform-origin: right 50%;
	transform: rotateY(100deg) scale(1.5);
}

.bottom .swing-panel {
	transform-origin: left 50%;
	transform: rotateY(180deg);
}

.bottom .no-swing {
	transform-origin: bottom 50%;
	transform: rotateY(0deg);
}

.desc {
	position: absolute;
	padding: 10%;
	color: black;
}

.label {
	display: flex;
	position: absolute;
	font-family: Oxygen, arial, sans-serif;
	padding: 0.5em;
	border-radius: 6px;
	color: #000;
	letter-spacing: 2px;
	font-size: 1.8em;
	opacity: 1;
	justify-content: center;
	font-family: 'Rakkas', cursive;
	transition: transform 0.5s ease;
	font-weight: bold;
	width: 35vh;
	box-shadow: 3px -1px 20px 15px rgba(0, 0, 0, 0.32);
}

.bottom-label {
	display: flex;
	color: #000;
	align-self: center;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: 1.6em;
	font-family: 'Rakkas', cursive;
	margin-top: 2%;
	font-weight: bold;
	opacity: 1;
	padding-right: 1.8em;
	letter-spacing: 2px;
	transform: rotate(-90deg);
	height: 7vh;
	width: 35vh;
	transition: opacity 0.5s ease;
	box-shadow: 0px -1px 20px 15px rgba(0, 0, 0, 0.32);
}

.grid-unit:hover .label {
	transform: rotateX(90deg);
}
.grid-unit:hover .bottom-label {
	opacity: 0;
}

.top-left .label {
	bottom: 150px;
	right: 50px;
	transform: rotate(45deg);
}

.top-right .label {
	bottom: 150px;
	left: 50px;
	transform: rotate(-45deg);
}

.top-left .desc {
	top: 100px;
	left: 0;
}

.top-right .desc {
	top: 100px;
	right: 0;
}

.bottom .desc {
	bottom: 10;
	left: 0;
}

.grid-unit:hover .swing-panel {
	transform: rotateY(0);
}

.sphere {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #000;
	border-radius: 500px;
	transition: all 0.25s ease;
	opacity: 1;
}

.top-left .sphere {
	right: -100px;
	bottom: -100px;
}

.top-right .sphere {
	left: -100px;
	bottom: -100px;
}

.bottom .sphere {
	width: 220px;
	top: -100px;
	right: 815px;
	border-bottom-right-radius: 800px;
	border-bottom-left-radius: 800px;
}

.grid-unit:hover .sphere {
	background-color: rgba(255, 255, 255, 0);
}

.icon {
	position: absolute;
	font-size: 1.5em;
	transition: font-size 0.25s ease;
}

.bottom-icon {
	z-index: 1;
	display: flex;
	padding-top: 15px;
	justify-content: center;
	color: #000;
	font-size: 2em;
	transition: font-size 0.25s ease;
}

.top-right .icon {
	bottom: 25px;
	left: 20px;
	color: #fff;
}

.top-left .icon {
	bottom: 25px;
	right: 35px;
	color: #fff;
}

.grid-unit:hover .icon {
	overflow: hidden;
	color: #ffe70a;
	font-size: 3em;
}

.grid-unit:hover .bottom-icon {
	overflow: hidden;
	color: #000;
	font-size: 2.5em;
}

/* Bottom Content Css */
.profile-header {
	font-size: 1.4em;
	color: #082429;
	font-family: 'Rakkas', cursive;
	justify-content: center;
	width: 30%;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 8px auto 8px auto;
	border: 4px dashed #02191d;
}

.profile-content {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
	line-height: 1.5em;
	margin: 1.2em;
	padding: 1.2em;
	border: 3px dashed black;
	font-weight: bold;
	background: linear-gradient(#ffe60ab0 10%,#f3dd1bf6 30%, transparent);
}

/* Expereience & Portfolio css */

#experience-open {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 0;
	right: 0;
	transition: all 0.5s linear;
	z-index: 1;
}

#portfolio-open {
	width: 50%;
	height: 50%;
	top: 0;
	left: 0;
	transition: all 0.5s linear;
	z-index: 1;
}

#experience-open.active {
	width: 100%;
	top: 0;
	right: 0;
	height: 100%;
	cursor:default;
	overflow-y: scroll;
	z-index: 2;
	background: linear-gradient(#ffc60a 3%, #ffc60a 9%, #ff9d0a91 75%), url("../../assets/cool-tech.jpg") no-repeat center;
	background-size: cover;

	&::before {
		display: none;
	}
}

#portfolio-open.active {
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	cursor:default;
	overflow-y: scroll;
	z-index: 4;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
	.label {
		font-size: 1.2em;
		width: 20vh;
		height: 5vh;
		align-items: center;
	}
	.top-left .label {
		bottom: 150px;
		right: 20px;
	}
	.top-right .label {
		bottom: 150px;
		left: 20px;
	}
	.profile-header {
		width: 40%;
		padding: 12px 0 12px 0;
	}
	.profile-content {
		width: 90%;
		margin: auto;
	}
}
